* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.navbar-container {
  height: 10vh;
  background-color: #2c0e3a;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.logo {
  max-height: 5vh;
  max-width: 10vw;
}
.score-and-timer-container {
  display: flex;
  flex-direction: row;
  margin-right: 70px;
}
.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.score-text {
  color: white;
  font-weight: bold;
  margin-right: 5px;
}
.score-nuber {
  color: #fec653;
}

.timer-cccontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.timer-text {
  color: #fec653;
  font-weight: bold;
  font-size: 20px;
}
.timer-logo {
  max-height: 30px;
  max-width: 30px;
  margin-right: 5px;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
}
.matchImage {
  max-height: 50vh;
  max-width: 50vw;
}
.tabItem-list-container {
  display: flex;
  flex-direction: row;
}
.tumbnail-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 60vw;
}
